/*#todo-wrapper {
  height:100vh;
  display:grid;
  grid-template-areas: "add-area"
                       "todo-area";
  grid-template-rows: 1fr 100px;
}*/

.area {
  padding:2em 0;
}

body {
  overflow-x:hidden;
}

.todo-check {
  float:right;
  height:0;
}

.collapsible-body>p {
  display:inline-block;
}

.options-button {
  color:#000;
  float:right!important;
  height:100%;
  width: 40px;
  z-index:9999;
}

.restbutton {
  padding: 0 2em;
}
