<p></p>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Today's Recipe</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Budget Status</span>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class=row>
  <div class="col s12 m6">
    <div class="card">
      <div id="weather-content" class="card-content">
        <span class="card-title">Weather</span>
        <p id="weather-text"></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <a id="news-image-link" href=#>
          <img id=news-image src="images/loading.png">
        </a>
      </div>
      <div id="news-content" class="card-content">
        <span id="news-title" class="card-title"></span>
      </div>
      <div class="card-action">
        <a id="news-link" href="#">Link</a>
      </div>
    </div>
  </div>
</div>
<div class=row>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Emails</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Your Todos</span>
          {{#each todos}}
            <p>{{title}}</p>
          {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <a id=pic-link href="#">
          <img id=pic-image src="images/loading.png">
        </a>
      </div>
      <div class="card-content center">
        <span id=pic-text class="card-title">Picture of the day</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src=javascripts/widgets/news.js></script>
<script type="text/javascript" src="javascripts/widgets/picture.js"></script>
<script type="text/javascript" src="javascripts/widgets/weather.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
