<link rel='stylesheet' href='stylesheets/freeflow.css' />
<link rel='stylesheet' href='stylesheets/map.css' />
<link rel='stylesheet' href='stylesheets/card.css' />
<p></p> <!-- fix me! -->

<div class='setup' id='setup'>
</div>

<div class='row' id='main-row'>
</div>

<!-- idea: upon adding the settings option, we add a custom overlay -->
<div id='black-overlay' class='black-overlay hide'></div>
<!-- please be temporary -->
<div id='black-overlay-time' class='black-overlay hide'></div>
<!-- PLEASE BE TEMPORARY -->
<div id='black-overlay-news' class='black-overlay hide'></div>
<!-- P L E A S E  B E  T E M P O R A R Y -->
<div id='black-overlay-reddit' class='black-overlay hide'></div>


<!-- need to add toggle for APOD -->
<div id='picture-settings' class='col s12 m6 hide setting-card'>
  <div class='card' id='news-card'>
    <div class='card-content'>
      <span class='card-title'>Picture settings</span>
      <div class='row'>
        <div class="input-field col s12">
          <select id='pic-select' class='browser-default'>
            <option value="" disabled selected>Select a reddit picture source:</option>
            <option value='aww'>Aww</option>
            <option value='catsstandingup'>Cats Standing Up</option>
            <option value='earthporn'>Earthporn</option>
            <option value='mildlyinteresting'>Mildly Interesting</option>
            <option value='oldschoolcool'>Old School Cool</option>
            <option value='brutalism'>Brutalism</option>
            <option value="space">Space</option>
          </select>
        </div>
      </div>
      <div class='row'>
        <div class="input-field col s12">
          <input id="pic-custom" type="text" class="validate">
          <label for="pic-custom">Custom Subreddit</label>
        </div>
      </div>
      <div class='row'>
        <a id='set-pic' class='waves-effect waves-light btn' href=# >Set</a>
      </div>
    </div>
  </div>
</div>

<div id='news-settings' class='col s12 m6 hide setting-card'>
  <div class='card' id='news-card'>
    <div class='card-content'>
      <span class='card-title'>News settings</span>
      <div class="input-field col s12">
        <select id='news-select' class='browser-default'>
          <option value="" disabled selected>Select a news source</option>
          <option value='google-news'>Google News</option>
          <option value='hacker-news'>Hacker News (YC)</option>
          <option value='bbc-news'>BBC News</option>
          <option value='bbc-sport'>BBC Sport</option>
          <option value='the-verge'>The Verge</option>
          <option value='new-scientist'>New Scientist</option>
          <option value="recode">Recode</option>
        </select>

        <a id='set-news' class='waves-effect waves-light btn' href=# >Set</a>
      </div>
    </div>
  </div>
</div>

  <div id='weather-settings' class='col s12 m6 setting-card'>
    <div class=card id='map-card'>
      <div class=card-content>
        <div id="map"></div>
        <p>Your location is: <span id='location'>foo</span></p>
        <p> <a href="#" id='save' class='waves-effect waves-light btn'>Save</a></p>
      </div>
    </div>
  </div>

  <div id='time-settings' class='col s12 m6 hide setting-card'>
    <div class=card id='time-setting-card'>
      <div class=card-content>
        <span class='card-title'>Set the time</span>
        <div class='row center'>
          <form action="#">
           <p>
             <input type="checkbox" id="24h-check" />
             <label for="24h-check">24h Time</label>
           </p>
           <p>
             <input type="checkbox" id="seconds-check" />
             <label for="seconds-check">Allow Seconds</label>
           </p>
         </form>
        </div>
        <div class='row center'>
          <div class='col'>
            </div>
              <a id='date-toggle' class='waves-effect waves-light btn' href=# >Day</a>
              <a id='month-toggle' class='waves-effect waves-light btn' href=# >Month</a>
              <a id='year-toggle' class='waves-effect waves-light btn' href=# >Year</a>
            </div>

        <div class='row center'>
          <a id='set-time' class='waves-effect waves-light btn' href=# >Set</a>
        </div>
      </div>
    </div>
  </div>

<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large purple">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a id='add' class='waves-effect waves-light btn' href=# >Add</a></li>
    <li><a id='load' class='waves-effect waves-light btn' href=# >Load</a></li>
    <li><a id='save' class='waves-effect waves-light btn' href=# >Save</a></li>
    <li><a id='edit' class='waves-effect waves-light btn' href=# >Edit</a></li>
    <li class="valign-wrapper"><a href="#!" id="dropper"></a></li>
  </ul>
</div>

<script type='text/javascript' src='javascripts/config/setLocation.js'></script>
<script type='text/javascript' src='javascripts/widgets/map.js'></script>
<script type='text/javascript' src='javascripts/widgets/Card.js'></script>
<script type='text/javascript' src='javascripts/layout/Tiles.js'></script>

<script type='text/javascript' src='javascripts/widgets/news.js'></script>
<script type='text/javascript' src='javascripts/widgets/picture.js'></script>
<script type='text/javascript' src='javascripts/widgets/clock.js'></script>
<script type='text/javascript' src='javascripts/layout/tile.js'></script>
<script type='text/javascript' src='javascripts/main.js'></script>
<script type='text/javascript' src='javascripts/widgets/todo.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuhTVhl6O7-7ICHrmDcI6RI7NdjlEMk8o&callback=initMap"></script>
