<link rel='stylesheet' href='stylesheets/freeflow.css' />
<p></p> <!-- fix me! -->

<div class='setup' id='setup'>
</div>

<div class='row' id='main-row'>
</div>

<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large purple">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a id='add' class='waves-effect waves-light btn' href=# >Add</a></li>
    <li><a id='load' class='waves-effect waves-light btn' href=# >Load</a></li>
    <li><a id='save' class='waves-effect waves-light btn' href=# >Save</a></li>
    <li><a id='edit' class='waved-effect waves-light btn' href=# >Edit</a></li>
    <li class="valign-wrapper"><a href="#!" id="dropper"></a></li>
  </ul>
</div>
<script type='text/javascript' src='javascripts/widgets/Card.js'></script>
<script type='text/javascript' src='javascripts/layout/Tiles.js'></script>
<script type='text/javascript' src='javascripts/layout/freeflow-dyncard.js'></script>
<script type='text/javascript' src='javascripts/widgets/news.js'></script>
<script type='text/javascript' src='javascripts/widgets/picture.js'></script>
<script type='text/javascript' src='javascripts/main.js'></script>
<script type='text/javascript' src='javascripts/widgets/todo.js'></script>
