<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Today's Recipe</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Budget Status</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div id="weather-content" class="card-content">
        <span class="card-title">Weather</span>
        <p id="weather-text"></p>
      </div>
    </div>
  </div>
</div>
<div class=row>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Latest News</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Emails</span>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Your Todos</span>
        <p></p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="javascripts/widgets/weather.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
