<link rel='stylesheet' href='stylesheets/map.css'>

 <h3>My Google Maps Demo</h3>
 <div id="map"></div>
 <p>Your location is: <span id='location'>foo</span></p>
 <p> <a href="#" id='save' class='waves-effect waves-light btn'>Save</a></p>
 <script src="javascripts/config/setLocation.js"></script>
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuhTVhl6O7-7ICHrmDcI6RI7NdjlEMk8o&callback=initMap"></script>
