
<div id=todo-wrapper>

  <div id='todo-area'>
  </div>

  <div id='add-area'>
  </div>

  <div id='edit-area'>
  </div>

</div>

<script type=text/javascript src=own-packages/newTodo/todo.js></script>
<link rel=stylesheet href=own-packages/newTodo/todo.css>
