
<div id=todo-wrapper class="card">

  <div id='todo-area'>
	<p>todo area</p>
  </div>

  <div id='add-area'>
	<p>add area</p>
  </div>

  <div id='edit-area'>
	<p>edit area</p>
  </div>

</div>

<script type=text/javascript src=own-packages/newTodo/todo.js></script>
<link rel=stylesheet href=own-packages/newTodo/todo.css>
