<ul class="collapsible popout" data-collapsible="accordion">

  <!--add conditional for crossed out or now -->
  {{#each todos}}
  <li>
    <div class="collapsible-header">
      {{title}}
    </div>
    <div class="collapsible-body">
      <p class="todo-desc">{{desc}}</p>
      <form class="todo-check" action="#">
          <input type="checkbox" id="test5" />
          <label for="test5"></label>
      </form>
    </div>
  </li>
  {{/each}}
</ul>


<link rel=stylesheet href="stylesheets/todo.css">
