.card {

}

#main-row {
  z-index:1;
  display:none;
}

#setup {
  z-index: 2;
}

.option-button {
  z-index: 3;
  transition: 0.5s;
}

.option-button:hover {
  opacity: 0.8;
}

.input-field {
  width:80%;
  margin: 0 auto;
}

select {
  height:100%;
}

.resizer {
  position:absolute;
  bottom:0;
  right:0;
  height:20px;
  width:20px;
  background-color:#ff00ff;
}
