/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --main-color:#7B1FA2;
}

nav {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rollover {
  z-index: 999999;
  position:absolute;
}

#weather-hide {
  right:12vw;
  color:#000;
}

#cal-contain {
  left:0;
}

.hidden {
  display:none;
}

.warmWeather {
  color:#B71C1C;
}

.coldWeather {
  color: #0D47A1;
}

.dark {
  background-color: #263238;
}

::selection {
  background-color:#7B1FA2;
  color:white;
}

.options-button {
  color:#000;
  float:right!important;
  height:100%;
  width: 40px;
  z-index:9999;
}


.card {
  resize:both;
  overflow:auto;
}

.switch {
  padding:1em 0.5em;
}
#pic-card .card-image, #weather-card > .card-image {
/*#pic-card > .card-image img {*/

  display: block;
    height: 200px;

  line-height: 200px;
    overflow: hidden;
}
#pic-card > .card-image img, #weather-card > .card-image img {
/*#pic-card .card-image {*/
  position: relative;
  /*margin: -50% auto;*/
  width: 100%;
  height:auto;
  vertical-align: middle;
}
