/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

nav {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cal-contain {
  z-index: 999999;
  position:absolute;
  right:0;

}

.hidden {
  display:none;
}
